Metasprachen/WebContent/Aufgabe 03/katalog_extern.dtd

<!ELEMENT katalog (buch+)>
<!ELEMENT buch (autor+, titel, untertitel?, verlag, aufnahmedatum, bemerkung?)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT untertitel (#PCDATA)>
<!ELEMENT verlag (#PCDATA)>
<!ELEMENT aufnahmedatum (#PCDATA)>
<!ELEMENT bemerkung (#PCDATA)>
<!ELEMENT autor (vorname, nachname)>
<!ELEMENT vorname (#PCDATA)>
<!ELEMENT nachname (#PCDATA)>

<!ATTLIST buch signatur CDATA #REQUIRED>