Metasprachen/WebContent/KN/Aufgabe09/A12/autoren.dtd

<!ELEMENT autoren (autor*)>
<!ELEMENT autor (nachname, vorname, nobelpreis?, sprache, buch+)>
<!ELEMENT buch (titel, erscheinungsjahr)>
<!ELEMENT vorname (#PCDATA)>
<!ELEMENT nachname (#PCDATA)>
<!ELEMENT titel (#PCDATA)>
<!ELEMENT erscheinungsjahr (#PCDATA)>
<!ELEMENT nobelpreis (#PCDATA)>
<!ELEMENT sprache (#PCDATA)>
